<body>
    <div class="container error-container">
        <h1 class="display-4">¡Error 404!</h1>
        <p class="lead">Página no encontrada</p>
        <img src="https://media.istockphoto.com/id/924949200/vector/404-error-page-or-file-not-found-icon.jpg?s=170667a&w=0&k=20&c=gsR5TEhp1tfg-qj1DAYdghj9NfM0ldfNEMJUfAzHGtU="
            alt="Error 404" class="error-image my-4">
        <p class="lead">Lo sentimos, la página que estás buscando no se encuentra.</p>
        <p class="lead">Verifique que no tenga un error de tipeo en la URL</p>
        <a href="/" class="btn btn-primary">Volver a la página de inicio</a>
    </div>
</body>